@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
body{
background:rgb(54,50,64);
	
}
#LoginBody{
	max-width:480px;
	width:80%;
	margin:100px auto;
	height:360px;
	border:#CCC solid 1px;
	border-radius:10px;
	text-align:center;	
}
#title{
	padding:10px 0px;
	background-color:rgb(240,240,240);
	font-size:16px;

}
#formbody{
	
	padding:0px 14px;
}
label{
	width:40px;
	text-align:left;
	line-height:30px;
	
	color:#fff;
}
.inputdiv{
	display:box;display:-moz-box;display:-webkit-box;display:-ms-box;
    display:flex;display:-webkit-flex;
	border-bottom:1px solid #ccc;
	margin-top:30px;
}
.inputdiv .input{
	box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;
    flex:1;
	padding:5px 10px;
	border:none;
	background-color:rgba(0,0,0,0);
	outline:none;
	color:#fff;
}
#tip{
	height:40px;
	color:red;
}
#submit{
	display:block;
	width:100%;
	padding:10px 0px;
	background-color:rgb(27,127,233);
	border:1px solid rgb(27,127,233);
	border-radius:5px;
	color:#FFF;
	font-size:16px;
	letter-spacing:5px;
	appearance:normal;
}

#returnlogin{
	text-align:left;
	padding:10px 0 0 10px;
	color:#FFF;
	cursor:pointer;
}